<h2>Tests</h2>
<ul class="mytests">
    <table>
        <tr><th>Date et heure</th><th>Temps pour finir (min)</th><th>Taux de réussite</th></tr>
            <tr *ngFor="let test of tests">
                <td>{{test.dateTime.split("T")[0].split("-").reverse().join("/")}} {{test.dateTime.split("T")[1].split(".")[0].split(":").slice(0,2).join(":")}}</td>
                <td>{{test.completionTime.split(":")[1]}}</td>
                <td>{{test.successRate}}%</td>
            </tr>
    </table>
</ul>
