<h1>Encodage d'un test</h1>

<app-test-event-list (emit_test)="chooseTest($event)"></app-test-event-list>

<form [formGroup]="testForm">
    <input type = "text" name = "Date" placeholder = "Date" formControlName="date">
    <br/>
    <input type = "text" name = "Time" placeholder = "Heure" formControlName="time">
    <br/>
    <input type = "text" name = "completionTime" placeholder = "Temps pour finir" formControlName="completionTime">
    <br/>
    <input type = "text" name = "successRate" placeholder = "% de réussite" formControlName="successRate">
    <br/>
    <button type = "submit" (click)="onClickSave(testForm.value)">Enregistrer</button>
    <button type = "submit" (click)="onClickModdify(testForm.value)" >Modifier</button>
    <Button type = "submit" (click)="onClickDelete(testForm.value)" >Supprimer</Button>
</form>
